<form (submit)="register()">
  <h3>About you</h3>
  <div class="form-group">
    <label for="firstname">
      Firstname
      <span>{{firstnameError}}</span>
    </label>
    <input type="text" class="form-control" name="firstname" [(ngModel)]="firstname" (keyup)="handleChange('firstname')">
  </div>
  <div class="form-group">
    <label for="lastname">
      Last name
      <span>{{lastnameError}}</span>
    </label>
    <input type="text" class="form-control" name="lastname" [(ngModel)]="lastname" (keyup)="handleChange('lastname')">
  </div>

  <h3>Login informations</h3>
  <div class="form-group">
    <label for="email">
      Email
      <span >{{emailError}}</span>
    </label>
    <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="email" (keyup)="handleChange('email')">
  </div>
  <div class="form-group">
    <label for="password">
      Password
      <span>{{passwordError}}</span>
    </label>
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" (keyup)="handleChange('password')">
  </div>

  <div class="form-group mg">
    <input type="checkbox" class="input-cgu" name="cgu" [(ngModel)]="cgu" (click)="handleChange('cgu')">
    <label for="cgu" class="cgu">I accept the terms and conditions</label>
  </div>

  <div class="error" *ngIf="cguError">{{cguError}}</div>
  <div class="error" *ngIf="requestError">{{requestError}}</div>

  <button type="submit" class="btn btn-default">Register</button>
</form>